@tailwind base;
@tailwind components;
@tailwind utilities;

.shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 150px;
}

.shape-divider .shape-fill {
  fill: #03067b;
}
